/*for mobile*/
@media(min-width:320px){
	.head-bar{
		display:block;
	}
	nav{
		display:none;
	}
}
/*for ipad*/
@media(min-width:760px){
	.head-bar{
		display:none;
	}
	nav{
		display:block;
	}
}
/*for laptop*/
@media(min-width:960px){
	.head-bar{
		display:none;
	}
	nav{
		display:block;
	}
}